URL=localhost
MM_SCHEME=http
MM_PORT=8065
BOT_TOKEN=your_bot_token
BOT_USERNAME=your_bot_username
DB_PATH=data/database_local.db
BIRTHDAY_TEAM_NAME=mattermost_team_name
# SCHEDULER_MODE=test OR SCHEDULER_MODE=prod
SCHEDULER_MODE=test
# SCHEDULER_INTERVAL in minutes in test mode
SCHEDULER_INTERVAL=10

BOT_PUBLIC_URL=http://host.docker.internal:8080
BUTTON_PORT=8080